.errorMessages {
            color: red;
        }

body {
	background-color: #e0f9ff;
}



.message-icon {
	margin-bottom: 10px;

	background-color: white;
}

/*.title, .name, .category, .content {
    border-bottom-color: aqua;
    border: solid 5px;
    border-color: #00000040;
}
*/
