.errorMessages {
            color: red;
        }

body {
	background-color: #e0f9ff;
}



.message-icon {
	margin-bottom: 5px;
	padding: 5px;
	background-color: white;
}

.title .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}