<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>TOP</title>
    </head>
    <body>
        <div class="header-contents">
            <h1>掲示板</h1>
        </div>
        <div th:if="${errorMessages != null}">
            <div class="errorMessages" th:each="errorMessage : ${errorMessages} ">
                <li th:text="${errorMessage}"/>
            </div>
            <br />
        </div>
<!--        ユーザボタン表示フラグについて保留-->
<!--        <div th:if="${loginUser.getDepartmentId() == 1}">-->
<!--            <a href="/userManage">-->
<!--                ユーザー管理画面-->
<!--            </a>-->
<!--        </div>-->
        <a href="/newMessage">
            <input type="button" value="新規投稿">
        </a>
        <div class="message-icon" th:each="message : ${messages}">
            <div class="title">
                件名:<span th:text="${message.title}"/>
            </div>
            <div class="content">
                本文:<span th:text="${message.text}"/>
            </div>
            <div class="category">
                カテゴリー:<span th:text="${message.category}"/>
            </div>
            <div class="update-date">
                投稿日時:<span th:text="${#dates.format(message.updatedDate, 'yyyy/MM/dd')}"/>
            </div>
            <div class="name">
                投稿者:<span th:text="${message.userName}"/>
            </div><br>
        </div>
    </body>
</html>