<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>ユーザー編集</title>
    </head>
    <body>
        <div class="header-contents" th:object="${user}">
            <h1>ユーザー編集</h1>
        </div>
        <div class="account">

        </div>
        <div class="name">

        </div>
        <div class="password">

        </div>
        <div class="password-check">

        </div>
        <div class="branch">

        </div>
        <div class="department">

        </div>

    </body>
</html>